<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="ISO-8859-1"/>
    <title>Welcome to contacts</title>
    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom CSS -->
    <link href="../css/landing-page.css" rel="stylesheet"/>

    <!-- Custom Fonts -->
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="../https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic"
          rel="stylesheet" type="text/css"/>

</head>
<body>
<div class="topnav">

    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand topnav" href="/">Spring boot for Contacts</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/register">Create a new contact</a></li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
</div>
<div class="intro-header">
    <h2>Spring boot for Contacts</h2>
</div>
<div class="content-section-a">
    <div class="formHeight">
        <div class="container">
            <div class="row">
                <form th:action="@{/update}" th:object="${contact}" method="POST">
                    <div class="errors" th:if="${#fields.hasErrors('*')}">
                        <ul>
                            <li th:each="err : ${#fields.errors('*')}" th:text="${err}">Input is incorrect</li>
                        </ul>
                    </div>
                    <div id="example-text-input">
                        <div class="form-group row">
                            <label for="firstName" class="col-2 col-form-label">First Name:</label>
                            <div class="col-10">
                                <input type="hidden" th:field="*{id}"/>
                                <input class="form-control" type="text" th:field="*{firstName}"/> <span
                                    th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">Name Error</span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="lastName" class="col-2 col-form-label">Last Name:</label>
                            <div class="col-10">
                                <input class="form-control" type="text" th:field="*{lastName}"/> <span
                                    th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Name Error</span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-2 col-form-label" for="phoneNumber">Phone:</label>
                            <div class="col-10">
                                <input class="form-control" type="tel" id="example-tel-input"
                                       th:field="*{phoneNumber}"/>
                                <span
                                        th:if="${#fields.hasErrors('lastName')}"
                                        th:errors="*{lastName}">Name Error</span>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="col-2 col-form-label" for="emailAddress">Email:</label>
                            <div class="col-10">
                                <input class="form-control" type="email" th:field="*{emailAddress}"/><span
                                    th:if="${#fields.hasErrors('emailAddress')}"
                                    th:errors="*{emailAddress}">Name Error</span>
                            </div>
                        </div>


                        <input type="submit" value="Update"/>
                        <input type="reset" value="Reset"/>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>


</body>
</html>